* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tree .crown {
  z-index: 3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tree .crown .head {
  background: center/contain no-repeat url(/assets/crowns/growing/top.svg);
  width: 54.25px;
  height: 30.25px;
}

.tree .crown .sidepanel.top {
  width: 55.5px;
  height: 16.5px;
  background: center/contain no-repeat url(/assets/crowns/growing/sidepanel_top.svg);
  margin-top: -18px;
}

.tree .crown .repeat {
  background: center/contain repeat-y url(/assets/crowns/growing/repeat.svg);
  width: 55.5px;
  height: 0;
  height: 40px;
}

.tree .crown .sidepanel.bottom {
  width: 55.5px;
  height: 25.25px;
  background: center/contain no-repeat url(/assets/crowns/growing/sidepanel_bottom.svg);
}

.tree .stem {
  z-index: 2;
  position: relative;
  margin-top: -4px;
  background: #FFA834;
  border-radius: 0 0 4px 4px;
  width: 6px;
  height: 40px;
}

.tree .base {
  z-index: 1;
  position: relative;
  margin-top: -20px;
  background: center/contain no-repeat url(/assets/base_elements/base_default.svg);
  width: 75.25px;
  height: 48.5px;
}
