* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
}

.grid {
  border: 1px solid red;
  position: relative;
}

.grid_item {
  position: absolute;
  border: 1px solid lightgray;
}

.tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tree .crown {
  z-index: 3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tree .crown.growing .head {
  background: center/contain no-repeat url(/assets/crowns/growing/top.svg);
  width: 54.25px;
  height: 30.25px;
}

.tree .crown.growing .sidepanel.top {
  width: 55.5px;
  height: 16.5px;
  background: center/contain no-repeat url(/assets/crowns/growing/sidepanel_top.svg);
  margin-top: -18px;
}

.tree .crown.growing .repeat {
  background: center/contain repeat-y url(/assets/crowns/growing/repeat.svg);
  width: 55.5px;
  height: 0;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
  height: 10px;
}

.tree .crown.growing .sidepanel.bottom {
  width: 55.5px;
  height: 25.25px;
  background: center/contain no-repeat url(/assets/crowns/growing/sidepanel_bottom.svg);
}

.tree .crown.dead {
  -webkit-animation: fadeIn 2s forwards cubic-bezier(0.73, 0, 0.56, 1.67);
          animation: fadeIn 2s forwards cubic-bezier(0.73, 0, 0.56, 1.67);
}

.tree .crown.dead .head {
  position: relative;
  background: center/contain no-repeat url(/assets/crowns/dead/top.svg);
  width: 54px;
  height: 36px;
}

.tree .crown.dead .sidepanel.top {
  margin-top: -32px;
  width: 57.25px;
  height: 32.25px;
  background: center/contain no-repeat url(/assets/crowns/dead/sidepanel_top.svg);
}

.tree .crown.dead .repeat {
  background: center/contain repeat-y url(/assets/crowns/dead/repeat.svg);
  width: 57.25px;
  height: 0;
  height: 10px;
}

.tree .crown.dead .sidepanel.bottom {
  width: 57.25px;
  height: 21.25px;
  background: center/contain no-repeat url(/assets/crowns/dead/sidepanel_bottom.svg);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.tree .crown .apple {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 6.5px;
  height: 6.5px;
  background: center/contain repeat-y url(/assets/apple.svg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: grow 2s forwards;
          animation: grow 2s forwards;
}

@-webkit-keyframes grow {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 100%;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes grow {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 100%;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

.tree .stem {
  z-index: 2;
  position: relative;
  margin-top: -4px;
  background: #FFA834;
  border-radius: 0 0 4px 4px;
  width: 6px;
  height: 40px;
}

.tree .base {
  z-index: 1;
  position: relative;
  margin-top: -20px;
  width: 75.25px;
  height: 48.5px;
}

.tree .base.growing {
  background: center/contain no-repeat url(/assets/base_elements/base_default.svg);
}

.tree .base.dead {
  background: center/contain no-repeat url(/assets/base_elements/base_death.svg);
}

.tree .base.bloom {
  background: center/contain no-repeat url(/assets/base_elements/base_fruits.svg);
}

.tree .base.light {
  background: center/contain no-repeat url(/assets/base_elements/base_light.svg);
}
