*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin setImageSize ($width, $height, $factor) {
    width: $width * $factor;
    height: $height * $factor;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .head{
        z-index:3;
        position: relative;
        background: center/contain no-repeat url(/assets/crown.svg);
        @include setImageSize(222px,258px,.25);
    }
    .stem{
        z-index:2;
        position: relative;
        margin-top: -4px;
        background: #FFA834;
        border-radius: 0 0 4px 4px;
        width: 6px;
        height: 120px;
    }
    .base{
        z-index:1;
        position: relative;
        margin-top: -20px;
        background: center/contain no-repeat url(/assets/base_elements/base_default.svg);
        @include setImageSize(301px,194px,.25);
    }
}

